<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Property</h1>

<nav th:replace="fragments :: page-header"></nav>

<!--<form method="post" style="max-width:600px;">-->
    <form style="max-width:600px;">
    <div class="form-group">
        <label th:for="street_address">Property Street Address</label>
        <input class="form-control" th:field="${property.streetAddress}" />
        <span th:errors="${property.streetAddress}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="city">Property City</label>
        <input class="form-control" th:field="${property.city}" />
        <span th:errors="${property.city}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="state">Property State</label>
        <input class="form-control" th:field="${property.state}" />
        <span th:errors="${property.state}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="zip_code">Property Zip Code</label>
        <input class="form-control" th:field="${property.zipCode}" />
        <span th:errors="${property.zipCode}" class="error"></span>
    </div>

    <input type="submit" value="Add Property" />
</form>

</body>
</html>