<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div th:each="property : ${properties}">

    <h1 th:text="${'Property: ' + property.streetAddress}">Default Title</h1>
    <p th:text="${'City: ' + property.city}"></p>
    <p th:text="${'State: ' + property.state}"></p>
    <p th:text="${'Zip Code: ' + property.zipCode}"></p>
<!--    <p th:text="${'Inspector Id:  ' + inspector.inspectorId}"></p>-->

</div>
</body>
</html>