<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${'Property: ' + property.streetAddress}">Default Title</h1>

<!--<nav th:replace="fragments :: page-header"></nav>-->

<div>
    <p th:text="${'ID: ' + property.id}"></p>
    <p th:text="${'Street Address: ' + property.streetAddress}"></p>
    <p th:text="${'City: ' + property.city + '     State: ' + property.state + '  Zip Code: ' + property.zipCode"></p>
<!--    <p>-->
<!--        Employer: <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a>-->
<!--    </p>-->

</div>
</body>
</html>