<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div>
    <h1 th:text="${'Property: ' + singleProperty.streetAddress}">Default Title</h1>
    <p th:text="${'City: ' + singleProperty.city}"></p>
    <p th:text="${'State: ' + singleProperty.state}"></p>
    <p th:text="${'Zip Code: ' + singleProperty.zipCode}"></p>
<!--    <p th:text="${'Inspector Id:  ' + inspector.inspectorId}"></p>-->

</div>
<form action="/property/index">
    <input type="submit" value="Return to Menu"/>
</form>
</body>
</html>