<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Edit Property</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="street_address">Property Street Address to edit</label>
        <!--        <input class="form-control" th:field="${property.streetAddress}"/>-->
        <!--        <span th:errors="${property.streetAddress}" class="error"></span>-->
    </div>
</form>

<form action="/property/index">
    <input type="submit" value="Return to Menu"/>
</form>

</body>
</html>