<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<form action="/action_page.php" method="post">
    <div class="container">
        <div class="text-center">
            <br><br><br><br>
            <h1>INSPECTOR DATABASE PROPERTIES</h1>

            <ul class="nav-item"><a class="nav-link" href="list">LIST</a></ul>
            <ul class="nav-item"><a class="nav-link" href="search">SEARCH</a></ul>
            <ul class="nav-item"><a class="nav-link" href="add">ADD</a></ul>
            <ul class="nav-item"><a class="nav-link" href="edit">EDIT</a></ul>
            <ul class="nav-item"><a class="nav-link" href="remove">REMOVE</a></ul>
        </div>
    </div>

</form>
</body>
</html>