<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<form action="/action_page.php" method="post">
    <div class="container">
        <h1>PROPERTIES</h1>

<!--        Why doesn't the button work?-->
<!--        <button type="submit" mb-2 class="btn btn-primary" href="/inspector">ENTER</button>-->
        <ul class="nav-item"><a class="nav-link" href="list">LIST</a></ul>
        <ul class="nav-item"><a class="nav-link" href="search">SEARCH</a></ul>
        <ul class="nav-item"><a class="nav-link" href="add">ADD</a></ul>
        <ul class="nav-item"><a class="nav-link" href="edit">EDIT</a></ul>
        <ul class="nav-item"><a class="nav-link" href="remove">REMOVE</a></ul>
    </div>

</form>
</body>
</html>