<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Inspector Database Properties</h2>
    <ul>
        <li th:each="property : ${properties}">
            <a th:href="@{'/property/view/' + ${property.propertyId}}" th:text="${property.streetAddress}"></a>
        </li>
    </ul>

    <form action="/property/index">
        <input type="submit" value="Return to Menu"/>
    </form>
</div>

</body>