<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <title>Inspector Database Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title th:text="'Properties' + ${title == null ? '' : ' :: ' + title}">Properties Database</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
<!--        <div class="navbar-header">-->
<!--            <a th:href="@{/}" class="navbar-brand">Properties Database</a>-->
<!--        </div>-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/list}">View Property</a></li>
                <li><a th:href="@{/search}">Add Property</a></li>
                <li><a th:href="@{/add}">Remove Property</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>