<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<form action="/action_page.php" method="post">
    <div class="container">
        <h1>Welcome to the Inspector Database</h1>
        <h2>Click ENTER below for access</h2>

<!--        Why doesn't the button work?-->
<!--        <button type="submit" mb-2 class="btn btn-primary" href="/inspector">ENTER</button>-->
        <ul class="nav-item"><a class="nav-link" href="/inspector">ENTER</a></ul>
    </div>

</form>
</body>
</html>