<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<form action="/action_page.php" method="post">
    <div class="container">
        <div class="text-center">
            <br><br><br>
            <br>
            <h1>Welcome to the Inspector Database</h1>
            <h2>Click ENTER below for access</h2>

            <ul class="nav-item"><a class="nav-link" href="/inspector">ENTER</a></ul>
            <!--            <ul class="btn btn-primary"><a class="nav-link" href="/inspector">ENTER</a></ul>-->
        </div>
    </div>

</form>
</body>
</html>